:root {
    /*Primary  */
    --Green-400: hsl(172, 67%, 45%);

    /*Neutral*/
    --Green-900: hsl(183, 100%, 15%);
    --Grey-500: hsl(186, 14%, 43%);
    --Grey-400: hsl(184, 14%, 56%);
    --Grey-200: hsl(185, 41%, 84%);
    --Grey-50: hsl(189, 47%, 97%);
    --White: hsl(0, 100%, 100%);
}

*, 
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2,
h3, h4,
h5, h6 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-wrap: balance; 
}

img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}

@font-face {
    font-display: swap; 
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/space-mono-v17-latin-700.woff2'); 
}

html, body {
    height: 100%;
}

body {
    font-family: 'Space Mono', serif;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: var(--Grey-200);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1; 
}

.calc-image {
    width: 100px;
    margin: 40px auto;
}

.calc-wrapper {
    background-color: var(--White);
    border-radius: 16px;
    width: 96%;
    margin: 0 auto;
    max-width: 350px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.grey {
    width: 100%;
    background-color: var(--Grey-50);
    border-radius: 6px;
    text-align: right;
    padding-right: 0.9rem;

}

.select-bill-sect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.tip-btn,
.custom-tip {
    width: 100%;
    background-color: var(--Green-900);
    text-align: center;
    color: var(--White);
    padding: 0.3rem 0;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.tip-btn:hover {
    background-color: var(--Green-400);
    color: var(--Green-900);
    cursor: pointer;
}

.custom-tip-label {
    display: none;
}

.custom-tip {
    background-color: var(--Grey-50);
}

.custom-tip::placeholder {
    color: var(--Grey-500);
}

.custom-sect {
  width: 100%;
}

.custom-tip-label {
    display: none; 
}

.input-wrap {
    width: 100%;
    position: relative;
}

.dollar-icon,
.person-icon {
    position: absolute;
    bottom: 0.6rem;
    left: 0.9rem;
    width: 0.62rem;
    height: 0.98rem;
}

.input-label,
.select-tip-heading {
    color: var(--Grey-500);
    font-size: 1rem;
}

.select-tip-heading {
    margin-bottom: 0.6rem;
}

.select-tip {
    border: none;
}

.bill-input-sect,
.select-tip,
.people-input-sect {
    margin-bottom: 1.3rem;
}

.results-section {
    background-color: var(--Green-900);
    padding: 0.9em;
    border-radius: 0.6rem;
}

.tip-amount, 
.total-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.tip-amount-heading,
.total-amount-heading {
    font-size: 0.7rem;
    color: var(--White);
}

.tip-amt-per-person,
.total-amt-per-person {
    font-size: 0.62rem;
    color: var(--Grey-200);
}

.total,
.tip {
    color: var(--Green-400);
    font-size: 1.6rem;
}

.reset-btn {
    background-color: var(--Green-400);
    padding: 0.14em 0.24em;
    color: var(--Green-900);
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    margin-top: 1rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

footer {
    font-size: 0.74rem;
    text-align: center;
    margin-bottom: 0.2rem;
}

footer a {
    color: var(--Green-900);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}