:root {
    --intro-email: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);

    /*Accent*/
    --call-to-action-teal: hsl(176, 68%, 64%);
    --call-to-action-cyan: hsl(198, 60%, 50%);
    --error: hsl(0, 100%, 63%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
}

*,
*::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    word-wrap: break-word;
    overflow-wrap: break-word;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-display: swap; 
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/raleway-v37-latin/raleway-v37-latin-regular.woff2') 
}

@font-face {
  font-display: swap; 
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/raleway-v37-latin/raleway-v37-latin-700.woff2') 
}

@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/open-sans-v44-latin/open-sans-v44-latin-regular.woff2') 
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/open-sans-v44-latin/open-sans-v44-latin-700.woff2')
}

body {
    font-size: 0.875 rem;
 
}

.fylo-nav {
    display: flex;
    justify-content: space-between;
    padding: 2.6rem 1.5rem;
}

.fylo-logo {
    width: 82px;
    height: 24px;
}

.nav-bar-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    font-family: "Open Sans", serif;
    font-weight: 400;
}

.nav-link {
  flex: 1; 
  white-space: nowrap;
}

.hero {
   background: url(/assets/images/bg-curvy-mobile.svg) bottom no-repeat;
    background-color: var(--intro-email) ;
    min-height: 100vh;
    text-align: center;
    color: var(--White);
}

.hero-content { 
    width: 84%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.illustration-intro {
    margin-bottom: 1.8rem;
} 

.hero-content {
    font-family: "Raleway",serif;
}

.content-heading {
    font-family: "Raleway",serif;
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
    line-height: 2.4rem;
}

.content-details {
    font-size: 0.89rem;
    line-height: 1.1rem;
    margin-bottom: 1.9rem;
}

.cta-button {
    padding: 1.2em;
    background-color: var(--call-to-action-cyan);
    border-radius: 2.1rem;
    width: 80%;
    font-weight: 700;
}

.main-page {
    background-color: var(--main-background);
    color: var(--White);
    font-family: "Raleway",serif;
}

.features {
    width: 88%;
    margin: 0 auto;
}

.feature {
    text-align: center;
}

.feature-icon {
    width: 85px;
    height: 85px;
    margin: 0 auto 2rem auto;
}

.feature-heading {
    margin-bottom: 1rem;
}

.feature-detail {
    margin-bottom: 5rem;
    font-size: 1.05rem;
    line-height: 1.5rem;
}

.stay-productive {
    width: 84%;
    margin: 9rem auto;
    text-align: left;
}

.productive-illustration {
    margin-bottom: 3rem;
}

.productive-heading {
    margin-bottom: 1.2rem;
    font-size: 1.33rem;
}

.productive-content1,
.productive-content2 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.how-fylo-works {
    display: flex;
    align-items: center; 
    gap: 5px;
    font-size: 1.05rem;
    color: var(--call-to-action-teal);
    text-decoration: underline;
    text-underline-offset: 8px;
    margin-bottom: 3rem;
}

.testimonies {
    width: 78%;
    margin: 0 auto;
}

.quote-icon {
    width: 36px;
    height: 25px;
}

.testimony {
    background-color: var(--testimonials-background);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 9px;
}

.testimony-content {
    margin-bottom: 1.2rem;
    font-size: 0.9rem;
}

.testimony-author {
    display: flex;
    align-items: center;
    gap: 12px;
} 

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-name {
    font-size: 1rem;
    margin-bottom: 7px;
}

.profile-title {
    font-size: 0.8rem;
}

.cta-section {
    position: relative;
    z-index: 2;
}

.cta-card {
    background-color: #1B2330;
    padding: 30px 40px;
    width: 88%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    top: 100px;
}

.cta-heading {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
}

.cta-content {
    font-size: 1.05rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.cta-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.input-group input {
  width: 100%;
  padding: 1.4em;
  padding-left: 20px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.error-text {
    position: absolute;
    top: 100%;
    left: 20px;
    color: red;
    font-size: 0.85rem;
    margin-top: 4px;
    display: none;
}

.cta-card button {
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 1.4em;
  cursor: pointer;
  font-weight: bold;
}

footer {
    background-color: var(--footer-background);
    color: var(--White);
    padding: 165px 36px 50px;
    position: relative;
    z-index: 1;
    
}

.footer-logo {
    width: 176px;
    margin-bottom: 2rem;
}

.location,
.phone,
.email {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    margin-bottom: 1rem;
    }


.location-section {
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem 1.5rem 1.5rem 0;
    max-width: 400px;
    margin-bottom: 2rem;
}


.location img,
.phone img,
.email img {
    flex-shrink: 0;
    margin-top: 4px; 
}

.location p,
.phone p,
.email p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.footer-column {
    margin-bottom: 2rem;
    font-family: "Raleway",serif;
}

.footer-links {
    margin-bottom: 4rem;
}

.footer-column li {
    list-style: none;
    margin-bottom: 0.6rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link {
    border: 1px solid var(--White);
    padding: 0.6em;
    border-radius: 50%;
    font-size: 0.7rem;
    transition: all .3s ease-in-out;
}

.social-link:hover {
    color: var(--call-to-action-teal);
    border-color: var(--call-to-action-teal);
    cursor: pointer;
}

